[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.button.active {
    filter: brightness(1.3);
    transform: scale(1);
}

.tabs {
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 1.563rem;


}

.tabs a {
    margin: 2vh 1vw;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .tabs {
        display:flex;
        /*flex-direction: column;*/
    }

    .tabs a {
        margin: 0.3vh 0;
        text-align: center;
        font-size: 0.875rem;
        margin: 3vh 1vw;
    }


}