{% extends "../default.html" %}
{% block body %}
    <div>
    {{ form }}
    </div>
<table>
  <tr>
    <td><b>Nom et prénom</b></td>
    <td><b>SuperAdmin</b></td>
    <td><b>Date de création</b></td>
    <td><b>Archivé</b></td>
  </tr>
  {% for admin in all_admins%}
  <tr>
    <td>{{admin.admin_prenom}} {{admin.admin_nom}}</td>
    {% if admin.admin_superadmin %}
    <td>
        <a href="/change_super_admin/{{admin.id}}">Oui</a>
    </td>
    {% else %}
    <td>
        <a href="/change_super_admin/{{admin.id}}">Non</a>
    </td>
    {% endif %}
    <td>{{admin.admin_date_creation}}</td>
    {% if admin.admin_is_archived %}
    <td>
        <a href="/change_archived/{{admin.id}}">Oui</a>
    </td>
    {% else %}
    <td>
        <a href="/change_archived/{{admin.id}}">Non</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}