{% extends "../default.html" %}

{% block body %}
    {% if msg is not null %}
        {{msg}}
    {% endif %}
    <h1> Tous vos événements </h1>
    <table>
        <thead>
            <tr>
                <td>Nom événement</td>
                <td>Date</td>
                <td>Modifier Créneaux</td>
                <td>Annuler</td>
            </tr>
        </thead>
        <tbody>
            {% for representation in admin_representations %}
            <tr>
                <td><a href="{% url 'college:visu_detail' representation.event.id %}">{{ representation.event.even_nom }}</a></td>
                <td>{{representation.repr_date}}</td>
                <td><a href="{% url 'college:change_date_representation' representation.id %}">Modifier</a></td>
                <td><a href="/admin_event/del_representation/{{representation.id}}">X</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
