{% extends "../default.html" %}

{% block body %}
    {% if msg is not null %}
        {{msg}}
    {% endif %}
    <h1> Tous vos événements </h1>
    <table>
        <thead>
            <tr>
                <td>Nom événement</td>
                <td>Date</td>
                <td>Modifier Créneaux</td>
                <td>Annuler</td>
            </tr>
        </thead>
        <tbody>
            {% for event in all_event_admin %}
            <tr>
                <td><a href="{% url 'college:visu_detail' event.id %}">{{event.even_nom}}</a></td>
                <td>{{event.even_date}}</td>
                <td><a href="{% url 'college:change_date_event' event.id %}">Modifier</a></td>
                <td><a href="#">X</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
