/.idea/
.idea/CollegeBook.iml
.idea/misc.xml
.idea/dataSources.xml
src/CollegeBookSite/
src/polls/__pycache__/
src/polls/migrations/__pycache__/
src/CollegeBookSite/__pycache__/
src/college/__pycache__/
src/college/migrations/__pycache__/
src/*.sqlite3
src/db.sqlite3
*.pyc
