/.idea/
/.idea/CollegeBook.iml
/.idea/misc.xml
.idea/CollegeBook.iml
.idea/misc.xml
.idea/dataSources.xml
CollegeBookSite/__pycache__/
college/__pycache__/
college/migrations/__pycache__/
.idea/
*.sqlite3