{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= {% static  "css/Style.css" %} >
    <!--  Font Noto Bold -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <!--  Font Poppins  /  Manrope  / Montserrat  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Poppins:ital@1&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>CollegeSite</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div>
                <a href="{% url 'Event:display' %}" draggable="false">
                    <img src= {% static "img/CSPU.png" %} class="logo" draggable="false">
                </a>
            </div>
            <div class="links">
                {% if user.is_authenticated %}
                <ul class="nav-ul">
                    <li><a href="{% url 'Event:display' %}" class="nav-a" id="nav-events">Événements</a></li>
                    {% if user.is_staff %}
                    <li><a href="{% url 'Account:display' %}" class="nav-a" id="nav-admins">Admins</a></li>
                    <li><a href="{% url 'Account:creation' %}" class="nav-a" id="nav-create-account">Créer un compte</a></li>
                    {% endif %}
                    <li><a href="{% url 'Event:creation' %}" class="nav-a" id="nav-create-event">Créer un événement</a></li>
                    <li><a href="{% url 'Config:Configuration' %}" class="nav-a" id="nav-create-config">Créer une configuration</a></li>
                    <li><a href="{% url 'Account:events' user.id %}" class="nav-a" id="nav-personnal-events">Vos événements</a></li>
                    <li><a href="{% url 'Account:logout' %}" class="nav-a" id="nav-logout">Se déconnecter</a></li>
                    <li><a href="{% url 'Account:update' user.id %}" class="nav-a" id="nav-account">Compte</a></li>
                </ul>
                {% else %}
                <ul class="nav-ul">
                    <li><a href="{% url 'Event:display' %}" class="nav-a" id="nav-events">Événements</a></li>
                    <li><a href="{% url 'Account:login' %}" class="nav-a" id="nav-login">Se connecter</a></li>
                </ul>
                {% endif %}
            </div>
            <div class="menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
        </nav>
    </header>

    <div class="content">
        {% block body %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("input[class=MultiDate]", {mode:"multiple", enableTime:true, time_24hr:true, dateFormat:"d-m-Y/H:i"});
        flatpickr("input[class=Time]", {enableTime: true, noCalendar: true, dateFormat: "H:i", time_24hr: true});
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/Base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
</body>
</html>