.full-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0;
    overflow-x: scroll;
}

.theatre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    border-top: 5vh solid white;
    border-bottom:5vh solid white;
    border-left: 5vh solid black;
    background-color: white;
}

.seat-area {
    height: 100%;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}

.seat-row, none-row {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat-row {
    background-color: lightblue;
    flex-direction: column;
    min-width: 55px;
}
.none-row {
    background-color: grey
}

.standing-zone{
    width: 60%;
    height: 100%;
    background-color : darkseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-style {
    fill:currentColor;
    stroke:#000000;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}


.seat, .space{
    transform: rotate(90deg);
    height: 100%;
    width: 100%;
    margin: 1px;
    max-width: 32px;
    max-height: 32px;
}

.seat {
    color: red;
}

.space {
    color: transparent;
    stroke-opacity: 0;
    cursor: pointer;
}

.seat:not(.sold):hover {
    cursor: pointer;
    transform: rotate(90deg) scale(1.2);
}

.seat.sold {
    color: #fc8c0f;
}

.seat.selected {
    color: #268085;
}

.seat-row.cheap {
    background-color: red;
}

.seat-row.balcony {

}

.details {
    flex: 1;
    border: 5px solid #268085;
    padding: 50px;
}

.select-row {
    width: 0;
    height: 0;

    border-right: 16px solid transparent;
    border-left: 16px solid transparent;

    border-top: 20px solid #f7df6c;
    /*position: relative;*/
    /*top: -25px;*/
    cursor: pointer;
}