{% extends "default.html" %}

{% load static %}

{%  block head %}
    <link rel="stylesheet" href= {% static "css/Payment.css" %} >
{% endblock %}

{% block body %}
    <h1 class="title">Récapitulatif de réservation</h1>

    <div class="summary-area">
        <p class="event-title">Événement {{ reservation.representation.event.name }} le {{ reservation.representation.date }}</p>
        {% for seat in standing_seats %}
            <div class="item-summary">
                <p>Place {{ seat.type }}</p>
            </div>
        {% endfor %}
        {% for seat in seating_seats %}
            <div class="item-summary">
                <p>Siège {{ seat.type }} </p><p> {{ seat.place }} </p>
            </div>
        {% endfor %}
        <div class="item-summary">
            <p>Tickets boisson</p><p>{{ reservation.drink_number }}</p>
        </div>
        <div class="item-summary">
            <p>Tickets nourriture</p><p>{{ reservation.food_number }}</p>
        </div>
        <hr />
        <div class="item-summary">
            <p>Prix total</p> <p>{{ price }}€</p>
        </div>

        <div class="button-area">
            <form action="{% url 'Payment:CreateCheckoutSessionView' reservation.id %}" method="POST">
            {% csrf_token %}
            <button class="button" type="submit">Paiement</button>
        </form>
        </div>

    </div>
{% endblock %}
