* {
    list-style: none;
}

body {
    margin:0;
}

ul {
    padding:0;
    margin: 0;
}

.content {
    margin: 0 250px;
}

.nav-bar {
    display:flex;
    padding: 0 25px;
    margin: 1em 1em 50px 1em;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #268085;
    font-family: 'Noto Sans', sans-serif;
    user-select: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar a {
    text-decoration: none;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 25px;
    font-size: 17px;
    font-weight: bold;
    border: 5px solid transparent;
}

.nav-bar a:hover {
    border-bottom: 5px solid #fc8c0f;
}

.nav-bar a:active, .Logo:active {
    opacity:85%;

}

.Logo {
    /* font-size: 25px; */
    width: 6%;
    border-radius: 100px;
    position: absolute;
    top:25px;
    left:40px;
}

.footer {
    /* background-color: rgb(241, 241, 241); */
    border-top: 1px solid rgb(201, 201, 201);
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Noto Sans', sans-serif;
    user-select: none;
}

footer ul li a{
    display: block;
    text-align: center;
    margin: 12px 0;
    text-decoration: none;
    color:black;
}

.footer-title {
    font-weight: bold;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    box-shadow:  0 0 20px rgba(0,0,0,0.15);

}

table th, table td {
    padding: 12px 15px;
}

table td {
    text-align: center;
}

table thead tr {
    background-color: #268085;
    color: #ffffff;
    font-weight: bold;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
    color: #268085;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #268085;
}

td{
/*    border: 2px solid #268085;*/
/*    padding: 10px 0;*/
/*    text-align: center;*/
}

.ok {
    color:#268085;
}

.ko {
    color: #fc8c0f;
}


h1 {
    color: #268085;
    font-family: 'Noto Sans', sans-serif;
}