{% extends 'defaultConfiguration.html' %}
{% load static %}

{% block body %}
    <select name="config" onchange="prepare_json(this)">
        {% for configuration in configurations %}
            <option value={{configuration.url_json}} >{{configuration.name}}</option>
        {% endfor %}
    </select>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{form.nom.label}}
        {{form.nom}}
        <input type="submit" value="Confirmer">
    </form>

    <button onclick=""
    <div class="full-area">
        <div class="theatre">
            <div class="seat-area">
            </div>
        </div>
    </div>
{% endblock %}
