{% extends 'defaultConfiguration.html' %}
{% load static %}

{%  block head %}
    {{ form.media }}
    <link rel="stylesheet" href= {% static "css/Configuration.css" %} >
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{%  endblock %}


{% block body %}
    <select name="config" id="config_choice" onchange="prepare_json(this)">
        <option id="option" value="nothing">----------</option>
        {% for configuration in configurations %}
            <option value={{configuration.url_json}} >{{configuration.name}}</option>
        {% endfor %}
    </select>
    <br>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.name.label }}
            {{ form.name }}
        </div>

        <input id="create_json" type="submit" disabled="true" value="Confirmer">

        <div class="input-box">
            {{ form.place_types.label }}
            <button type="button" onclick="get_place_types()"> Trouver les types de place associées à la configuration </button>
            {{ form.place_types }}
        </div>
        <div id="checkboxList"></div>


    </form>
    <br>
    <a href="{% url 'Event:creation' %}">Revenir vers la création</a>

    <div class="full-area">
        <div class="theatre">
            <div class="seat-area">
            </div>
        </div>
    </div>


{% endblock %}
