{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" , href={% static "css/Configuration.css" %}>
    <title>Document</title>
</head>

<body>
    {% block config %}
        <div class="full-area">
            <div class="theatre">
                <div class="seat-area" id="seat-area">
                    <div class="seat-row">
                        <span class="seat" id="A1"onclick="changeStatus(this.id)"></span>
                        <span class="seat sold" id="A2"onclick="changeStatus(this.id)"></span>
                        <span class="seat selected" id="A3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="A20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row cheap">
                        <span class="seat" id="B1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="B20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="C1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="C20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="D1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="D20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="E1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="E20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="F1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="F20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="G1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="G20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="H1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="H20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="I1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="I20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="J1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="J20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="K1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="K20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="L1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="L20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="M1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="M20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="N1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="N20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="O1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="O20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="P1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="P20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="Q1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="Q20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="R1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="R20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="S1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="S20"onclick="changeStatus(this.id)"></span>
                    </div>
                    <div class="seat-row">
                        <span class="seat" id="T1"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T2"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T3"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T4"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T5"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T6"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T7"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T8"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T9"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T10"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T11"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T12"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T13"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T14"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T15"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T16"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T17"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T18"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T19"onclick="changeStatus(this.id)"></span>
                        <span class="seat" id="T20"onclick="changeStatus(this.id)"></span>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2>Détails de la réservation:</h2>
                <p>Prix : </p><p id="price">0€</p>
            </div>
        </div>
    {% endblock %}
</body>

</html>