{% extends "default.html" %}

{% block body %}
    <h1 class="title">Connexion</h1>
    <div>
        <div class="form">
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-box">
                    {{ form.email.label }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="input-box">
                    {{ form.password.label }}
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <input type="submit" value="Se connecter">
            </form>
        </div>
    </div>
{% endblock %}