{% extends "default.html" %}

{% block body %}
    <h1 class="title">Modifier vos informations</h1>
    <div>
        <div class="form">
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-box">
                    {{ form.first_name.label }}
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>
                <div class="input-box">
                    {{ form.last_name.label }}
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                </div>
                <div class="input-box">
                    {{ form.email.label }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <input type="submit" value="Modifier le compte">
            </form>
        </div>
    </div>
    
{% endblock %}