
*{
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
}

*::selection {
    background-color: rgba(38, 128, 133, 0.7);
    color: black;
}

:root {
    --input-height: 40px;
    --input-margin: 15px;
    --main-color: #268085;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.scroll-disabled {
    overflow: hidden;
}

.nav-ul {
    padding: 0;
    margin: 0;
}

a, .table, .table thead, .menu {
    user-select:none;
}

a {
    -webkit-user-drag: none;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.title {
    color: var(--main-color);
    margin: 1% 0;
}

.title::selection {
    color: white;
}

.nav-bar {
    display:flex;
    padding: 0 1.5%;
    margin: 1em 1em 5vh 1em;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--main-color);
}

.nav-bar .nav-ul {
    display: flex;
}

.nav-bar .nav-a, .menu svg{
    display: block;
    color: #f2f2f2;
}

.nav-bar .nav-a:active, .Logo:active, .menu svg:active {
    opacity:85%;
}

.nav-bar .nav-a{
    text-decoration: none;
    white-space : nowrap;
    text-align: center;
    padding: 25px 25px;
    font-size: 17px;
    font-weight: bold;
    border: 5px solid transparent;
}

.nav-bar .nav-a:hover {
    border-bottom: 5px solid #fc8c0f;
}

.menu {
    display: none;
}

.logo {
    display: block;
    transform: scale(0.7);
    border-radius: 100px;
    position: absolute;
    top: 0.2%;
    left: 2%;
}

.button {
    width: auto;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 9px 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    color: #fff;
    transform: scale(1.05);
}

@media screen and (max-width: 1700px) {

    .menu {
        display: block;
        margin: 35px;
        z-index: 2;
    }

    .menu svg {
        display: block;
        color: #f2f2f2;
        transform: scale(3);
        width: 100%;
        height: auto;
    }

    .menu svg:hover {
        cursor: pointer;
    }

    .logo {
        transform: scale(0.6);
    }

    .nav-bar {
        margin-bottom: 3vh;
    }

    .links {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 115vh;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: rgba(30, 30, 30, 0.6);
        backdrop-filter: blur(2px);
    }

    .nav-bar .nav-a {
        padding: 0;
        border: 0;
        text-shadow: 1px 1px 2px black;
    }

    .nav-bar .nav-a:hover {
        border-bottom: 0;
    }

    .selected {
        display: flex;
    }

    .links .nav-ul {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow:  0 0 20px rgba(0,0,0,0.05);
}

.table .link {
    text-decoration: none;
    color: black;
}

.table .link:hover {
    color: var(--main-color);
}

.table th, .table td {
    padding: 12px 15px;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.table thead tr {
    background-color: var(--main-color);
    color: #ffffff;
    font-weight: bold;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
    height: auto;
}

.table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--main-color);
}

.table-svg {
    color: white;
    border-radius: 5px;
    padding-bottom: 4px;
    display: block;
    width: 20%;
    margin: 0 auto;
}

.table-svg:hover {
    color:#fff;
    transform: scale(1.02);
}

.ok {
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
}

.ko {
    border: 2px solid #fc8c0f;
    background-color: #fc8c0f;
}

.form * {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
}
.form {
    padding: 0 30px;
    border-radius: 10px;
    /*border: 2px solid var(--main-color);*/
    /*background: linear-gradient(to bottom, #9EB2BBFF, var(--main-color));*/
}

.form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form form .input-box {
    margin: var(--input-margin) 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.input-box input:not(input[type="checkbox"]), select {
    outline: none;
    border-radius: 5px;
}

.input-box input:not(input[type="checkbox"], input[type="file"]) {
    width: 100%;
    height: var(--input-height);
    padding: 0 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
}


.input-box::selection, .input-box input::selection {
    background-color: rgba(38, 128, 133, 0.5);
    color: black;
}

.input-box input[type="checkbox"]{
    width: 25px;
    height: 25px;
    border-color: #ccc;
    box-shadow: none;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    accent-color: var(--main-color);
}

.input-box input:not(input[type="checkbox"]):focus, select:focus {
    border: 2px solid rgba(38, 128, 133, 0.8);
}

input[type="submit"] {
    margin: 10px auto;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    background-color: var(--main-color);
    color: white;
}

input[type="submit"]:hover {
    transform: scale(1.01);
}

input[type="file"] {
    height: var(--input-height);
    margin-top: 5px;
    margin-left: 10px;
}

select:focus {
    outline: none;
    border: 2px solid rgba(38, 128, 133, 0.8);
}

select option::selection::after {
    background-color: rgba(38, 128, 133, 0.8);
}

.input-box .insert-data-tag input{
    height: var(--input-height);
}

.tagify {
    width: 100%;
    border: 0px;
}

.input-button {
    display: flex;
    width: 100%;
    min-height: 40px;
    margin-bottom: var(--input-margin);
    gap: 2%;
}

#add-button, .radio {
    margin-top: auto;
}

#del-button {
    margin-bottom: auto;
}

.input-button button {
    width: var(--input-height);
    height: var(--input-height);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-button button:hover {
    filter: brightness(90%);
}

.input-button button svg {
    width: 40px;
    height: 40px;
    color: var(--main-color);
}

.input-tag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.input-tag.undisplayed, .input-button.undisplayed {
    display: none;
}

.radio-divs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 20%;
}
.radio {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10%;
}

input[type="radio"] {
    transform: scale(1.5);
}

.input-box .errorlist {
    font-size: 1rem;
    width: 100%;
    padding: 0 8px;
    font-style: italic;
    text-align: left;
    color: red;
}

.centered {
    text-align: center;
    margin-top: 20vh;
}

.centered p {
    margin: 20px 0;
    font-size: 1.063rem;
}

@media screen and (max-width: 650px) {

    .table thead {
        display: none;
    }

    .table td{
        display:block;
        width: 100%;
        border-bottom: 0px;
        text-align: right;
    }

    .table tr td a{
        display: inline-block;
        text-align: center;
    }

    .table td::before {
        display: flex;
        content: attr(data-label);
        text-align: start;
        font-weight: bold;
    }
}