{% extends "defaultEvent.html" %}

{% load static %}

{%  block head %}
    {{ form.media }}
{%  endblock %}

{% block body %}
    <div class="form">
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="input-box">
                {{ form.name.label }}
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="input-box">
                {{ form.image.label }}
                {{ form.image }}
                {{ form.image.errors }}
            </div>
            <div class="input-box">
                {{ form.description.label }}
                {{ form.description }}
                {{ form.description.errors }}
            </div>
            <div class="input-box">
                {{ form.duration.label }}
                {{ form.duration }}
                {{ form.duration.errors }}
            </div>
            <div class="input-box">
                {{form.artiste.label}}
                {{form.artiste}}
                {{ form.artiste.errors }}
            </div>
            <div class="input-box">
                <input type="text" id="search-input" placeholder="email">
                {{ form.user.label }}
                {{ form.user }}
                {{ form.user.errors }}
            </div>
            <div class="input-box">
                {{ form.date.label }}
                {{ form.date }}
                {{ form.date.errors }}
            </div>
            <div class="input-box">
                {{form.configuration.label}}
                {{ form.configuration }}
                {{ form.configuration.errors }}
            </div>

            <a href="{% url 'Config:Configuration' %}">Créer une configuration de salle</a>
            <div class="input-box">
                {{ form.drink_price.label }}
                {{ form.drink_price }}
                {{ form.drink_price.errors }}
            </div>
            <div class="input-box">
                {{ form.food_price.label }}
                {{ form.food_price }}
                {{ form.food_price.errors }}
            </div>
            <div class="input-box">
                {{ form.place_types.label }}
                {{ form.place_types }}
                {{ form.place_types.errors }}
            </div>
            <div class="input-box">
                {{ form.promo_codes.label }}
{#                <div class="create-tag">#}
{#                    <div class="input-tag">#}
{#                        <label>Test</label>#}
{#                        <input type="text">#}
{#                    </div>#}
{#                    <div class="input-tag">#}
{#                        <label>Test</label>#}
{#                        <input type="number">#}
{#                    </div>#}
{#                    <div class="radio">#}
{#                        <input type="radio" id="promo_type1"#}
{#                         name="promo_type" value="Montant">#}
{#                        <label for="promo1">Montant</label>#}
{##}
{#                        <input type="radio" id="promo_type2"#}
{#                         name="promo_type" value="Pourcentage">#}
{#                        <label for="promo2">Pourcentage</label>#}
{#                    </div>#}
{#                    <button type="button" class="button">+</button>#}
{#                </div>#}
                {{ form.promo_codes }}
                {{ form.promo_codes.errors }}
            </div>
            <input type="submit" value="Créer l'événement">
        </form>
    </div>
    <script src="{% static 'js/Event.js' %}"></script>
{% endblock %}