{% extends "defaultEvent.html" %}

{% block body %}
    <div class="row">
      <div class="col-sm-3">
        {% if event.image.url is not null %}
            <img src="{{ event.image.url }}" alt="{{event.name}}" style="max-width :250px; max-height: 500px;">
        {% endif %}
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-8 col-sm-6">
            <h1>{{event.name}}</h1>
          </div>
          <div class="col-4 col-sm-6">
            {{event.artiste}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{event.description}}
          </div>
        </div>
      </div>
    </div>

    <h2 class="title">Liste des représentations</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Réserver</td>
            </tr>
        </thead>
        <tbody>
            {% for representation in representations %}
            <tr>
                <td data-label="Date">{{representation.date}}</td>
                <td data-label="Réserver"><a href="{% url 'Reservation:seat_selection' representation.id %}" class="table-svg ok">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                    </svg>
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}