{% extends "defaultEvent.html" %}

{%  block head %}
    {{ form.media }}
{%  endblock %}

{% block body %}
    <div class="form">
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="input-box">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="input-box">
                {{ form.image.label }}
                {{ form.image }}
            </div>
            <div class="input-box">
                {{ form.description.label }}
                {{ form.description }}
            </div>
            <div class="input-box">
                {{ form.duration.label }}
                {{ form.duration }}
            </div>
            <div class="input-box">
                {{ form.user.label }}
                {{ form.user }}
            </div>
            <div class="input-box">
                {{ form.date.label }}
                {{ form.date }}
            </div>
            <div class="input-box">
                {{ form.drink_price.label }}
                {{ form.drink_price }}
            </div>
            <div class="input-box">
                {{ form.food_price.label }}
                {{ form.food_price }}
            </div>
            <div class="input-box">
                {{ form.place_types.label }}
                {{ form.place_types }}
            </div>
            <div class="input-box">
                {{ form.promo_codes.label }}
                {{ form.promo_codes }}
            </div>
            <a href="{% url 'Config:Configuration' %}">Configuration de la salle</a>
            <input type="submit" value="Créer l'événement">
        </form>
    </div>

{% endblock %}