<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="../static/Style.css" >
    <title>CollegeSite</title>
</head>
<body>
    <header>
    </header>
    
    <nav class="nav-bar">
        <a href="/" class="Logo">Logo</a>
        {% if connected %}
        <ul>
            <li><a href="#">Événements</a></li>
            <li><a href="#">Mes réservations</a></li>
            <li><a href="#">Compte</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="#">Événements</a></li>
            <li><a href="#">Créer compte</a></li>
            <li><a href="#">Se connecter</a></li>
        </ul>
        {% endif %}
    </nav>
    
    {% block body %}
    {% endblock %}
</body>
</html>