{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href= {% static  "css/Style.css" %} >
    <!--  Font Noto Bold -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <!--  -->
    <title>CollegeSite</title>
</head>
<body>
    <header>
        <a href="/"><img src= {% static "img/CSPU.png" %} class="Logo"></a>
    </header>
    
    <nav class="nav-bar">
        
        <div class="space"></div>
        {% if connected %}
        <ul>
            <li><a href="/">Événements</a></li>
            <li><a href="#">Mes réservations</a></li>
            <li><a href="#">Compte</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="/">Événements</a></li>
            <li><a href="#">Créer compte</a></li>
            <li><a href="/login">Se connecter</a></li>
        </ul>
        {% endif %}
    </nav>
    
    {% block body %}
    {% endblock %}
</body>
</html>