{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href= {% static  "css/Style.css" %} >
    <!--  Font Noto Bold -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--  -->
    <title>CollegeSite</title>
</head>
<body>
    <header>
        <a href="/" draggable="false"><img src= {% static "img/CSPU.png" %} class="Logo" draggable="false"></a>
    </header>
    
    <nav class="nav-bar">
        
        <div class="space"></div>
        {% if user.is_authenticated %}
        <ul>
            <li><a href="/">Accueil</a></li>
            {% if user.is_staff %}
            <li><a href="/afficher_admins">Admins</a></li>
            <li><a href="/creation_compte">Créer un compte</a></li>
            {% endif %}
            <li><a href="/newEvent">Créer un événement</a></li>
            <li><a href="/admin_event/{{ user.id }}">Vos événements</a></li>
            <li><a href="/logout">Se déconnecter</a></li>
            <li><a href="/modif_compte/{{ user.id }}">Compte</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="/">Événements</a></li>
            <li><a href="/creation_compte">Créer compte</a></li>
            <li><a href="/login">Se connecter</a></li>
        </ul>
        {% endif %}
    </nav>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
    
    <footer class="footer">
        <ul>
            <li><p class="footer-title">Contact</p></li>
            <li><a href="#">Lien</a></li>
            <li><a href="#">Lien</a></li>
        </ul>
        <ul>
            <li><p class="footer-title">Plan du site</p></li>
            <li><a href="#">Lien</a></li>
            <li><a href="#">Lien</a></li>
        </ul>
        <ul>
            <li><p class="footer-title">À propos</p></li>
            <li><a href="#">Lien</a></li>
            <li><a href="#">Lien</a></li>
        </ul>
        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        flatpickr("input[name=date]", {mode:"multiple", enableTime:true, time_24hr:true, dateFormat:"d-m-Y/H:i"});
    </script>
</body>
</html>