* {
    list-style: none;
}

.nav-bar {
    display:flex;
    padding: 25px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #268085;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    margin: 0 25px;
}

.nav-bar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.Logo {
    font-size: 25px;
}