{% extends "default.html" %}

{% block body %}
    <h1 class="title">Vos informations</h1>
    <div class="form">
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="input-box">
                {{ form.email.label }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="input-box">
                {{ form.last_name.label }}
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <div class="input-box">
                {{ form.first_name.label }}
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="input-box">
                {{ form.phone.label }}
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
            <div class="input-box">
                {{ form.note.label }}
                {{ form.note }}
                {{ form.note.errors }}
            </div>
            <div class="input-box">
                {{ form.drink_number.label }}
                {{ form.drink_number }}
                {{ form.drink_number.errors }}
            </div>
            <div>  <p>Prix du ticket : {{drink_price.price}}</p>
                   </div>
            <div class="input-box">
                {{ form.food_number.label }}
                {{ form.food_number }}
                {{ form.food_number.errors }}
            </div>
            <div>  <p>Prix du ticket : {{food_price.price}}</p>
            </div>
            <div class="input-box">
                <label for="selectedseat">Sièges selectionnés</label>
                <input type="text"name="selectedseat" id="id_selectedseat" value="" readonly>
            </div>

            <input type="submit" value="Réserver l'événement">
        </form>
    </div>
    <script>
        var selectedSeatsJSON = sessionStorage.getItem("selectedSeatsIDs"); // Lire la chaîne JSON depuis la mémoire de session
        var selectedSeatsDict = JSON.parse(selectedSeatsJSON); // Convertir la chaîne JSON en dictionnaire JavaScript
        console.log(selectedSeatsDict)
        var selectedSeatsStr = "{" ;

        for (let i = 0; i<Object.keys(selectedSeatsDict).length;i++){
            selectedSeatsStr += "\""+ Object.keys(selectedSeatsDict)[i]+ "\"" + ": " + "\""+selectedSeatsDict[Object.keys(selectedSeatsDict)[i]]+"\"" + ", ";

        }
        // Convertir le dictionnaire en chaîne de caractères
        selectedSeatsStr = selectedSeatsStr.slice(0, -2); // Supprimer la dernière virgule et l'espace
        selectedSeatsStr += "}";
        // Insérer la chaîne de caractères dans le champ de formulaire
        document.getElementById("id_selectedseat").value = selectedSeatsStr;
    </script>
{% endblock %}